<div [@routerTransition]>
    <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
    <div class="card mb-3">
        <div class="card-header">Hoverable rows</div>
        <table class="card-body table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Item ID</th>
                    <th>Name</th>
                    <th>Date Returned</th>
                    <th>Date Sold</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Date Sold</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Date Sold</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>@twitter</td>
                    <td>Date Sold</td>
                </tr>
            </tbody>
        </table>

    </div>