<div [@routerTransition]>
    <app-page-header [heading]="'Return Item'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

            <form role="form">

                <fieldset class="form-group">
                    <label>Enter The Item ID</label>
                    <input class="form-control" placeholder="Enter The ID">
                </fieldset>
                <button type="submit" class="btn btn-secondary">Submit Button</button>
                <button type="reset" class="btn btn-secondary">Reset Button</button>

            </form>